*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header  */

header{
  position: fixed;
  z-index: 999;
  width:100%;
  height: 70px;  
}

header nav{
  padding: 0 10px;
}

header ul{
  justify-content: end;
  display: flex;
  list-style: none;
}

header ul li{
  padding: 0 8px; 
}

header ul a{
  height: 40px;
  line-height: 40px;
  background-color: #a8a2a2;
  padding: 5px 5px;
  text-decoration: none;
  color: white;
  font-size: small;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgba(119, 129, 141, 0.5);
}

/* main  */

main{
  height: calc(100vh - 100px);
  overflow: auto;
  padding-top: 60px;
}


.flexed{
  display: flex;
}

.container{
  display: flex;
  margin: 0 auto;
  max-width: 1800px;
}

img{
  max-width: 100%;
}

.icons{
  
  flex-wrap: wrap;
  justify-content: space-around;
}

.box{
  position: relative;
  padding-top:10px;
}

.name{
  position: absolute;
  bottom: 4px;
  left: 0px;
  color: white;
  background-color: rgba(119, 129, 141, 0.5);
  padding: 5px;
}


/* footer  */

footer{
  background-color: #272727;
  height: 90px;  
}

.bottom-menu{
color: white;
}

.bot-flex{
  justify-content: space-between;
  align-items: center;
}

.active{
  color: #79d641;
}

.menu li{
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-left: 30px;
  padding-top: 10px;
}

.menu li a{
  text-align: center;
  display: block;
  font-size: 1.8rem; 
  color: white;
}

.fa-chevron-up{
  vertical-align:top;
  line-height: 50px;
}

.menu li a:hover{
  color: #79d641;
}


footer nav ul li{
  color: white;
}

.end-meet{
  color: red;
  background-color: #4b4b4b;
  line-height: 70px;
  padding: 10px;
}